/* -----------------------------------------
   Theme Variables
----------------------------------------- */
//005395 #005395
$pkb-primary-color: #003462;
$pkb-secondary-color: #e57200;
$wrapper-color: #FFF;

$pkb-link-color: #F7AF1C;

$accent-one: #F5CF47;
$accent-two: #444;
$accent-three: #F7AF1C;

$button-one: #F7AF1C;
$button-two: #F7AF1C;

$widget-one: #c3d339;
$widget-two: #ef8200;
$widget-three: $pkb-primary-color;

$text-medium: #5F5F5F;
$text-light: #777777;

$widget-border: #565656;

$page-title-bg-color: #005395;
$page-title-color: #FFF;

$fd-topbar-background-color: #FED422;
$fd-topbar-dropdown-bg-color: #e2b805;

$fd-topbar-background-color: #FED422;
$fd-topbar-dropdown-bg-color: #e2b805;

$fd-topbar-link-color: rgba(0,0,0,0.6);
$fd-topbar-dropdown-toggle-color: #444;
$fd-topbar-link-color-hover: #000;

$topbar-social-icons: rgba(0, 0, 0, 0.5);
$topbar-social-icons-hover: rgba(0, 0, 0, 1);

$serif-type : Georgia, Cambria, "Times New Roman", Times, serif;
$helvetica-type : Helvetica, Arial, sans-serif;
$trebuchet-type: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
